body {
    margin: 0;
}

#main_video {
    width: 80%;
    height: 80%;
    min-width: 900px;
    margin: 80px auto;
    box-shadow: 5px 5px 5px #444;
}

#main_video.fullscreen {
    width: 100%;
    height: 100%;
    min-width: 900px;
    margin: 0;
}

#v_video {
    position: relative;
    height: 100%;
    padding: 0;
    background-color: #000;
}

#media_player {
    text-align: center;
    padding: 20px;
    background: linear-gradient(rgb(195, 232, 108), rgb(156, 189, 56));
    border-bottom: 2px solid #555;
    font-family: 微软雅黑;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #ccc;
}

#media_player.fullscreen {
    display: none;
}

#video {
    width: 100%;
    display: block;
}

#btn_start_large {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#file_open_btn {
    position: absolute;
    top: 40%;
    height: 20%;
    width: 10px;
    right: 0;
    background-color: #ccc;
    z-index: 55;
}

#file_list {
    position: absolute;
    display: block;
    top: 0;
    width: 300px;
    height: 100%;
    right: 0;
    background-color: rgba(125, 125, 125, 0.7);
    z-index: 50;
    box-shadow: -1px 0 2px #444;
}

#file_close_btn {
    position: absolute;
    top: 40%;
    height: 20%;
    width: 10px;
    left: 0;
    background-color: #ccc;
    z-index: 55;
}

.hide_file_list {
    visibility: hidden;
}

#file_div {
    margin: 10px;
    display: block;
    background-color: #fff;
}

#file_btn {
    display: inline-block;
    float: left;
    outline: none;
    width: 150px;
}

#add_btn {
    display: inline-block;
    float: right;
    outline: none;
}
/*-------------------------------------------------------------------------------------------------------------------*/
#j_jindu {
    background-color: rgba(0, 0, 0, 0.7);
    height: 30px;
    margin: 15px 1%;
    padding: 0 2%;
    width: 94%;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
}

#j_jindu > div {
    display: inline-block;
}

#j_jindu > div + div {
    margin-left: 20px;
}

#btn_start,
#btn_kuaijin,
#btn_kuaitui {
    margin: 8px 0;
}

#btn_start,
#btn_kuaijin {
    margin-left: 20px;
}

#jindu {
    position: relative;
    top: -10px;
    color: #fff;
    font-size: 14px;
    font-family: arial;
}

#jindu_tiao {
    position: relative;
    width: 50%;
    height: 10px;
    margin: 10px 0;
}

#jindu_duration {
    position: absolute;
    z-index: 5;
    border-radius: 5px;
    height: 8px;
    background-color: #555;
    border: 1px solid #fff;
}

#jindu_buffer {
    position: absolute;
    top: 1px;
    z-index: 10;
    border-radius: 5px;
    height: 8px;
    background-color: #aaa;
}

#jindu_current {
    position: absolute;
    top: 1px;
    z-index: 15;
    border-radius: 5px;
    height: 8px;
    background-color: #ddd;
}

#jindu_button {
    position: absolute;
    top: -3px;
    right: -10px;
    z-index: 20;
    border-radius: 5px;
    border: 1px solid #fff;
    height: 12px;
    width: 18px;
    background-color: #fff;
}

#btn_music {
    width: 18px;
}

#btn_music_con,
#btn_music_up,
#btn_music_down {
    display: block;
    margin: 8px 0;
}

#btn_music_up,
#btn_music_down {
    display: none;
}

#music_tiao {
    position: relative;
    width: 7%;
    height: 10px;
    margin: 10px 0;
}

#music_duration {
    position: absolute;
    z-index: 5;
    border-radius: 5px;
    height: 8px;
    background-color: #555;
    border: 1px solid #fff;
}

#music_current {
    position: absolute;
    top: 1px;
    z-index: 10;
    border-radius: 5px;
    height: 8px;
    background-color: #ddd;
}

#music_button {
    position: absolute;
    top: -3px;
    right: -7px;
    z-index: 15;
    border-radius: 6px;
    border: 1px solid #fff;
    height: 12px;
    width: 12px;
    background-color: #fff;
}

#btn_quanping {
    margin: 6px 0;
}
