body {
    margin: 0;
    /*background-color: #333;*/
}

#main_video {
    width: 80%;
    min-width: 800px;
    margin: 80px auto;
    box-shadow: 5px 5px 5px #444;
}

#v_video1 {
    position: relative;
    width: 100%;
    padding: 0;
    /*border: 1px solid #555;*/
    background-color: #000;
}

#media_player {
    text-align: center;
    padding: 20px;
    background-color: rgb(195, 232, 108);
    border-bottom: 1px solid #ccc;
    font-family: 微软雅黑;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #ccc;
}

#video1_title {
    text-align: center;
    padding: 15px 0;
}

#video1 {
    width: 100%;
    display: block;
}

#ad1 {
    width: 40%;
    height: 40%;
    background-color: #ccc;
    position: absolute;
    visibility: visible;
    top: 30%;
    left: 30%;
    text-align: center;
}

#ad1 > img:first-child {
    height: 100%;
}

#btn1 {
    position: absolute;
    width: 30px;
    height: 30px;
    right: -15px;
    top: -15px;
}

#btn2 {
    position: absolute;
    left: 30px;
    bottom: 50px;
}

#file_button {
    position: absolute;
    top: 40%;
    height: 20%;
    width: 10px;
    right: 0;
    background-color: #ccc;
    z-index: 55;
}

#file_list {
    position: absolute;
    display: block;
    top: 0;
    width: 300px;
    height: 100%;
    right: 0;
    background-color: rgba(125, 125, 125, 0.7);
    z-index: 50;
    box-shadow: -1px 0 2px #444;
}

.hide_file_list {
    visibility: hidden;
}

#file_div{
    margin: 10px;
    display: block;
    background-color: #fff;
}

#file_btn{

    display: inline-block;
    float: left;
    outline: none;
    width: 150px;
}

#add_btn{
    display: inline-block;
    float: right;
    outline: none;
}

#j_jindu {
    background-color: #999;
    background-color: rgba(0,0,0, 0.7);
    height: 30px;
    width: 96%;
    left: 2%;
    border-radius: 7px;
    bottom: 10px;
    display: block;
    position: absolute;
    text-align: center;
}

#btn_start,
#btn_kuaijin,
#btn_kuaitui {
    display: inline-block;
    float: left;
    margin: 8px 10px;
}

#jindu {
    display: inline-block;
    float: left;
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    font-family: arial;
}

#jindu_tiao {
    display: inline-block;
    float: left;
    position: relative;
    width: 50%;
    height: 10px;
    margin: 10px 20px;
    /*border: 1px solid #fff;*/
}

#jindu_duration {
    position: absolute;
    z-index: 5;
    border-radius: 5px;
    height: 8px;
    background-color: #555;
    border: 1px solid #fff;
}

#jindu_buffer {
    position: absolute;
    top: 1px;
    z-index: 10;
    border-radius: 5px;
    height: 8px;
    background-color: #aaa;
    //border: 1px solid #fff;
}

#jindu_current {
    position: absolute;
    top: 1px;
    z-index: 15;
    border-radius: 5px;
    height: 8px;
    background-color: #ddd;
}

#jindu_button {
    position: absolute;
    top: -3px;
    right: -10px;
    z-index: 20;
    border-radius: 5px;
    border: 1px solid #fff;
    height: 12px;
    width: 18px;
    background-color: #fff;
}

#btn_music {
    display: inline-block;
    float: left;
    width: 18px;
}

#btn_music_con,
#btn_music_up,
#btn_music_down {
    display: block;
    margin: 8px 0;
    float: left;
}

#btn_music_up,
#btn_music_down {
    display: none;
}

#music_tiao {
    display: inline-block;
    float: left;
    position: relative;
    width: 10%;
    height: 10px;
    margin: 10px 20px;
    /*border: 1px solid #fff;*/
}

#music_duration {
    position: absolute;
    z-index: 5;
    border-radius: 5px;
    height: 8px;
    background-color: #555;
    border: 1px solid #fff;
}

#music_current {
    position: absolute;
    top: 1px;
    z-index: 15;
    border-radius: 5px;
    height: 8px;
    background-color: #ddd;
}

#music_button {
    position: absolute;
    top: -3px;
    right: -7px;
    z-index: 20;
    border-radius: 6px;
    border: 1px solid #fff;
    height: 12px;
    width: 12px;
    background-color: #fff;
}
